name: Create GitHub Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ${{ matrix.os }}
    
    permissions:
      contents: write

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build Project
        run: cmake --build build --config Release

      - name: Package (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          strip build/BugReportChecker
          mv build/BugReportChecker build/BugReportChecker-linux
          tar -czvf BugReportChecker-linux.tar.gz -C build BugReportChecker-linux
          echo "ASSET_NAME=BugReportChecker-linux.tar.gz" >> $GITHUB_ENV

      - name: Package (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          strip build/BugReportChecker
          mv build/BugReportChecker build/BugReportChecker-macos
          tar -czvf BugReportChecker-macos.tar.gz -C build BugReportChecker-macos
          echo "ASSET_NAME=BugReportChecker-macos.tar.gz" >> $GITHUB_ENV

      - name: Package (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          Compress-Archive -Path "build/Release/BugReportChecker.exe" -DestinationPath "BugReportChecker-windows.zip"
          echo "ASSET_NAME=BugReportChecker-windows.zip" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.ASSET_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
